In [2]:
# import the pandas library and use the alias 'pd'
!pip install pandas

import pandas as pd

Requirement already satisfied: pandas in ./opt/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in ./opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in ./opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in ./opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
#create the s1 series from the list: [10,20,30,40,50]
s1 = pd.Series([10,20,30,40,50])

In [4]:
# create a series called s_tuple from the tuple: ("apple", "banana", "cherry")
s_tuple = pd.Series(["apple", "banana", "cherry"])

In [8]:
# create a series called s_dictionary from the dictionary: {"brand": "Ford", "model": "Mustang", "year": 1964}
#s_dictionary = pd.Series({"brand" : "Ford", "model" : "Mustang", "year" : "1964"})

In [19]:
# fill in the blank with the series values and index values
print("The s1 series values are:", s1.values)
print("The s1 index values are:", s1.index.values)
print("\n")
print("The s_tuple series values are:", s_tuple.values)
print("The s_tuple index values are:", s_tuple.index.values)
print("\n")
#print("The s_dictionary series values are:", s_dictionary.values)
#print("The s_dictionary index values are:", s_dictionary.index.values)

The s1 series values are: [10 20 30 40 50]
The s1 index values are: [0 1 2 3 4]


The s_tuple series values are: ['apple' 'banana' 'cherry']
The s_tuple index values are: [0 1 2]

In [16]:
# create the s2 series from the list [80,93,78,85,97] and with labeled indexes ['English','Science','Social','Tamil','Maths']
s2 = pd.Series([80,93,78,85,97], index = ['English','Science','Social','Tamil','Maths'])

In [17]:
# print the s2 series
print("The Marks obtained by student are", s2)

The Marks obtained by student are English    80
Science    93
Social     78
Tamil      85
Maths      97
dtype: int64

In [20]:
# assign the s2 series name to be "Student Marks"
s2.name = 'Student Marks'

In [21]:
# assign the s2 index name to be "Subject"
s2.index.name = 'Subject'

In [22]:
# print the s2 series again to see the newly assigned name and index name
print("The Marks obtained by student - subjectwise:\n", s2)

The Marks obtained by student - subjectwise:
 Subject
English    80
Science    93
Social     78
Tamil      85
Maths      97
Name: Student Marks, dtype: int64

In [23]:
# return the first element in the s2 series
s2[0]

80

In [25]:
# slicing using default integer index
s2[0:5]

Subject
English    80
Science    93
Social     78
Tamil      85
Maths      97
Name: Student Marks, dtype: int64

In [27]:
# return the elements starting at position one and ending with the element at index 3
s2[1:4]

Subject
Science    93
Social     78
Tamil      85
Name: Student Marks, dtype: int64

In [28]:
# Slicing using string index
# return the element associated with the index 'Tamil'
s2['Tamil']

85

In [32]:
# create a dictionary of fruit names and their prices. Use the values from the article
dict_fruits = {'Orange':80,
          'Apples':210,
          'Bananas':50,
         'Grapes':90,
         'Watermelon':70}

In [33]:
# Lets convert this dictionary into a series
fruits = pd.Series(dict_fruits)

In [34]:
# print the series
print("Fruits and prices\n", fruits)

Fruits and prices
 Orange         80
Apples        210
Bananas        50
Grapes         90
Watermelon     70
dtype: int64

In [35]:
# Slice the series and retrieve price of grapes
print("The price per kg of grapes is:", fruits['Grapes'])

The price per kg of grapes is: 90

In [36]:
# create a dataframe from the s2 series
df_marks = pd.DataFrame(s2, columns=['Student1'])

In [37]:
# print the dataframe
print("The dataframe created from series is\n",df_marks)

The dataframe created from series is
 Empty DataFrame
Columns: [Student1]
Index: []

In [38]:
# Create height series using [5.3, 6.2,5.8,5.0,5.5] for values, ['Person 1','Person 2','Person 3','Person 4','Person 5'] for indexes
height = pd.Series([5.3, 6.2,5.8,5.0,5.5], index=['Person 1','Person 2','Person 3','Person 4','Person 5'])

In [39]:
# Create weight series (in kgs) using [65,89,75,60,59] for values and the same indexes as height
weight = pd.Series([65,89,75,60,59], index = ['Person 1','Person 2','Person 3','Person 4','Person 5'])

In [40]:
# Create a dataframe from the height and weight series above
df_person = pd.DataFrame({'height': height, 'weight': weight})

In [41]:
# print the dataframe
print("The Person table details are:\n", df_person)

The Person table details are:
           height  weight
Person 1     5.3      65
Person 2     6.2      89
Person 3     5.8      75
Person 4     5.0      60
Person 5     5.5      59